html, body {
    top: 0;
    margin: 0;
    width: auto;
    min-height: 95vh;
    font-family: 'Fira Code', monospace;
    display: flex;
    flex-direction: column;
    background: rgb(14, 12, 12);
    font-family: 'Roboto Slab', serif;
}

footer {
    bottom: 10px !important;
    margin-top: 20px;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #BB86FC;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #FF5252;
}

#menu, #random, #start {
    margin-right: 10px;
    cursor: pointer;
}

.title {
color: #BB86FC;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    
}

.center {
    margin: 0 auto;
    border-radius: 5px;
    width: 80%;
    height: 450px;
    /* max-width: 411px; */
    max-height: 731px;
    background: #121212;
}

#box {
    height: 450px;
}

.array {
    display: flex;
    align-items: flex-start;
    min-height: 80vh;
    height: 40vh;
    padding: 1rem;
    flex-direction: row;
}

.cell {
    display: flex;
    align-items: flex-start;
    flex: 0.5;
    width: 0.000001%;
    margin: 1px;
    background-color: #BB86FC;
    resize: horizontal;
    position: relative;
    transition: all .4s ease-in;
    border-radius: 5px;
}

.cell.done {
    background-color: #9CEC5B;
    border-color: #9CEC5B;
    color: white;
    transition: all .4s ease-out;
}

.cell.visited {
    border-color: #03DAC5;
    background-color: #03DAC5;
    color: white;
    transition: .5s;
}

.cell.current {
    border-color: #50C5B7;
    background-color: #50C5B7;
    color: white;
    transition: all .4s ease-out;
}

.cell.min {
    background-color: #FF1493;
    border-color: #FF1493;
    color: white;
    transition: all .4s ease-out;
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    min-height: 60px;
    overflow: hidden;
    text-align: center;
    /* background-color: #BB86FC; */
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.navbar .options {
    text-align: center;
}

.navbar a {
    outline: none;
    cursor: pointer;
    color: #BB86FC;
    font-weight: bold;
    padding: 13px 13px;
    text-decoration: none;
   
}

.navbar #menu {
    margin-top: 15px;
    width: 150px;
    height: 25px;
    outline: none;
    background: #202020;
    border: none;
    color: #BB86FC;
    padding: 2px;
}


.navbar > a:hover {
    color: #64ffda;
}

.navbar > .icon {
    display: none;
}



.block {
    width: 28px;
    background-color: #6b5b95;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
    }
    
    .block2 {
    width: 28px;
    background-color: darkgray;
    position: absolute;
    transition: 0.2s all ease;
    }
    .block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
    }
    .block_id2 {
    position: absolute;
    color: black;
    margin-top: 22px;
    width: 100%;
    text-align: center;
    }
    
    .block_id3 {
    position: absolute;
    color: black;
    margin-top: 1px;
    width: 100%;
    text-align: center;
    }
    
    #count {
    height: 265px;
    width: 598px;
    margin: auto;
    }
    

@media screen and (max-width: 900px) {
    .navbar a, .navbar .options {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a, .navbar.responsive .options {
        float: none;
        display: block;
        text-align: center;
    }
}